.inbox img {
  height: 17px;
  width: 17px;
}

.titlew {
  color: #FFFFFF;
}

.menuOpts {
  color: #FFFFFF;
}

.menuOpts input {
  overflow: visible;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000033; 
  color: white;
  font-size: small;
}

label {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.currentInbox {
  color: white;
  font-weight: bold;
}

.currentInbox a:link { color:white; text-decoration:none; }
.currentInbox a:visited { color:white; text-decoration:none; }
.currentInbox a:focus { color:white; text-decoration:underline; }
.currentInbox a:hover { color:white; text-decoration:underline; }
.currentInbox a:active { color:white; text-decoration:underline; }

.rss:link{
  background: url(./img/rss.png) bottom center no-repeat;
  text-indent: -999em;
  text-decoration: none;
}

.rss:hover{
  background: url(./img/rss.png) bottom center no-repeat;
  text-indent: -999em;
  text-decoration: none;
}

.rss:visited{
  background: url(./img/rss.png) bottom center no-repeat;
  text-indent: -999em;
  text-decoration: none;
}

.rssText {
  visibility: hidden;
}

.currentQuota {
  color: #FFFFFF;
  font-weight: bold;
}

.maxQuota {
  color: #FFFFFF;
  font-weight: bold;
}

img {
  border: 0px;
}

body {
  min-width: 40em;
  color: #FFFFFF;
  background-color: #000033;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

form {
  margin: 0;
}

textarea {
  font-family: monospace;
}

a:link {
  color: #FF9900;
  text-decoration:none;
}    

a:visited {
  color: #FF9900;
  text-decoration:none;
}    

a:hover {
  color: #33CC00;
  text-decoration:underline;
}    

table {
  border: 1px;
  border-spacing: 0px;
}

#popup {
  min-width: 0;
  color: #FFFFFF;
  background-color: #003366;
}

#header h1 {
  float: left;
  margin: 0;
  padding: 0;
  width: 153px;
  height: 47px;
  background: url(./img/logo.png) no-repeat;
  text-indent: -999em;
}

#header h2 {
  float: left;
  margin: 0;
  margin-left: 10px;
  padding: 5px;
}

#header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

#header li {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  display: inline;
  list-style: none;
}

#main {
  clear: left;
}

#footer {
  padding-top: 5px;
  text-align: center;
}

#footerLogo {
  width: 88px;
  height: 31px;
  border: 0;
}

/**
 * main menu
 */
.mainmenu {
  color: #FFFFFF;
  background-color: #000033;
}

.mainmenu ul {
  margin: 0;
  padding: .2em 0;
  list-style-type: none;
}

.mainmenu ul li {
  display: inline;
}

.mainmenu ul li a,
.mainmenu ul li a:visited,
.mainmenu ul li span {
  padding: .2em 2em;
  text-decoration: none;
  color: #000033;
  background-color: #006699;
}

.mainmenu ul li a:hover {
  color: #FFFFFF;
  background-color: #0099CC;
}

.mainmenu ul li.selected a,
.mainmenu ul li.selected a:visited,
.mainmenu ul li.selected span {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0099CC;
}

.mainmenu ul li span,
.mainmenu ul li.selected span {
  color: #000033;
}

/**
 * sub menu
 */
.submenu {
  background-color: #0099CC;
}

.submenu ul {
  margin: 0;
  padding: .2em 0;
  list-style-type: none;
}

.submenu ul li {
  display: inline;
}

.submenu ul li a,
.submenu ul li span {
  padding: 0 2em;
}

.submenu ul li.selected a,
.submenu ul li.selected span {
  font-weight: bold;
}

.submenu a:link { color:white; text-decoration:none; }
.submenu a:visited { color:white; text-decoration:none; }
.submenu a:focus { color:white; text-decoration:underline; }
.submenu a:hover { color:white; text-decoration:underline; }
.submenu a:active { color:white; text-decoration:underline; }

/**
 * page navigation
 */
.pagenav {
  text-align: right;
  color: white;
  background-color: #0099CC;
}

.pagenav ul {
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
}

.pagenav ul li {
  display: inline;
}

.pagenav ul li.pagexofy {
  margin-right: 1em;
}

.pagenav ul li a,
.pagenav ul li span {
  margin: 0;
  padding: 0 3px;
}

.pagenav ul li.prev span,
.pagenav ul li.next span {
  color: #CCCCCC;
}

.pagenav ul li.current span {
  font-weight: bold;
  font-size: larger;
  color: #FFC061;
}

.pagenav a:link { color:white; text-decoration:none; }
.pagenav a:visited { color:white; text-decoration:none; }
.pagenav a:focus { color:#FFDEAD; text-decoration:underline; }
.pagenav a:hover { color:#FFDEAD; text-decoration:underline; }
.pagenav a:active { color:#FFDEAD; text-decoration:underline; }

div.messageSummary {
  background-color: #0099CC;
}

div.topNavigation {
  background-color: #0099CC;
}

div.topNavigation table {
  width: 100%;
}

div.topNavigation img {
  width: 12px;
  height: 12px;
}

div.messageList {
  padding: .5em;
  background-color: #003366;
  border-top: .2em solid #0099CC;
  border-bottom: .2em solid #0099CC;
}

div.messageList table {
  width: 100%
}

div.bottomNavigation {
  background-color: #0099CC;
}

div.bottomNavigation table {
  width: 100%;
}

div.bottomNavigation img {
  width: 12px;
  height: 12px;
}

img.sort {
  border: 0px;
  width: 12px;
  height: 12px;
}

.error {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.errorTable {
  border: 1px solid #DD2222;
  background-color: #DD2222;
  width: 400px;
}

.errorTitle {
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: url(./img/error.png) top left no-repeat;
}

.errorText {
  background-color: #003366;
  text-align: center;
  padding: 2px;
}

#loginBox {
  width: 27em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: larger;
  background-color: #003366;
  border: 1px solid #006699;
}

#loginBox h2 {
  margin: 0;
  padding: 0.5em;
}

#loginBox table {
  margin: auto;
  padding: 0.5em;
}

#loginBox th {
  text-align: right;
}

#loginBox td {
  padding-left: 0.5em;
  text-align: left;
}

#loginBox p {
  margin: 0;
  padding: 0.5em;
}

#inboxTable {
  margin: .5em 0;
  border: 1px solid #000033;
  border-collapse: collapse;
}

#inboxTable th {
  text-align: left;
  background-color: #000033;
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033;
}

#inboxTable td {
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033;
}

#inboxTable .new {
  font-weight: bold;
}

#inboxTable .odd {
  background-color: #005588;
}

#inboxTable .even {
  background-color: #004477;
}

#inboxTable .spamOdd {
  font-style: italic;
  background-color: #CC0000;
}

#inboxTable .spamEven {
  font-style: italic;
  background-color: #AA0000;
}

#inboxTable .column0 {
  text-align: center;
}

#inboxTable .column5 {
  text-align: right;
}

#inboxTable .column9 {
  text-align: center;
}

#inboxTable tr.marked {
  background-color: #0099CC;
}

#inboxTable tr.odd:hover,
#inboxTable tr.even:hover,
#inboxTable tr.hover {
  cursor: pointer;
  background-color: #002255;
}

#inboxStatus {
  margin: .5em 0;
  text-align: center;
}

.send {
  border: 0px;
  text-align: center;
  width: 100%;
  padding: 0px;
  background-color: #003366;
  border-top: .2em solid #0099CC;
  border-bottom: .2em solid #0099CC;
}

.send table {
  width: 100%;
  padding: 0px;
  border: 0px;
}

.sendButtons {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.sendLabel {
  width: 15%;
  text-align: right;
}

.sendData {
  text-align: left;
}

#attachTable {
  width: auto;
  border: 1px solid #000033;
  border-collapse: collapse;
}

#attachTable th {
  text-align: left;
  background-color: #000033;
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033;
}

#attachTable td {
  background-color: #005588;
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033;
}

#receipt {
  margin-left: 2em;
}

/*
 * mail data (verbose header, body and attachments)
 */
.mailData {
  background-color: #003366;
}

.mail {
  margin: 0;
  padding: .5em;
}

hr.mailAttachSep {
  display: none;
}

.mailTextAttach {
  margin: 0;
  padding: .5em;
  border-top: 1px solid silver;
}

.mailImgAttach {
  text-align: center;
  border-top: 1px solid silver;
}

.mailImgAttach img {
  margin: 0;
  padding: .5em;
  background: url(./img/img-loader.gif) no-repeat 50% 50%;
}

.mail,
.mailTextAttach {
  font-family: monospace;
}

.mailNav {
  border: 0px;
  text-align: center;
  padding: 0px;
  width: 100%;
  background-color: #004477;
}

.mailNav table {
  width: 100%;
  border: 0px;
  padding: 2px;
}

.mailSwitchHeaders {
 text-align: left;
 background-color: #004477;
}

.mailHeaderLabel {
 font-weight: normal;
 text-align: right;
 background-color: #004477;
}

.mailHeaderData {
  font-weight: bold;
  background-color: #004477;
  text-align: left;
}

.mailVerboseHeader {
  margin: 0;
  padding: 2px;
  background-color: #004477;
  text-align: left;
  
  /* http://sw-guide.de/2006-10/code-bloecke-pre-elemente-auf-webseiten/ */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.attachments {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.attachments em {
  font-weight: normal;
  font-size: smaller;
}

.contactAdd table {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #004477;
  border: 1px solid #000033;
  border-collapse: collapse;
}

.contactAdd table td {
  padding: 3px;
}

.contactsTitle {
  font-weight: bold;
  font-size: larger;
  color: #FFFFFF;
  background-color: #000033;
}

.contactsSubTitle {
  font-weight: bold;
  font-size: larger;
}

.contactsAddLabel {
 text-align: right;
}

.contactsAddData {
 text-align: left;
}

.contactsList table {
  width: 100%;
  border: 1px solid #000033;
  border-collapse: collapse;
}

.contactsList table th,
.contactsList table td {
  padding: 3px;
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033;
}

.contactsListHeader {
  text-align: left;
  color: #FFFFFF;
  background-color: #000033;
}

.contactsListOdd {
  color: #FFFFFF;
  background-color: #005588;
}

.contactsListEven {
  color: #FFFFFF;
  background-color: #004477;
}

.contactsAddLink {
  text-align: left;
  font-weight: bold;
}

.contactsListRuler td {
	text-align: center;
	color: #ff9900;
}

.contactsListRulerHigh a {
	text-decoration:underline;
	font-weight:bolder;
	font-size:1.4em;
}

.prefs {
  border: 0px;
  text-align: center;
  padding: 0px;
  width: 100%;
  background-color: #003366;
  border-top: .2em solid #0099CC;
  border-bottom: .2em solid #0099CC;
}

.prefs h3 {
  margin-top: 0;
  padding-top: 1em;
}

.prefs table {
  width: 100%;
}

.prefs fieldset {
  border: 0;
  border-top: 1px solid silver;
}

.prefs fieldset legend {
  margin-left: 2em;
  font-weight: bold;
  font-size: larger;
  color: #FFFFFF;
}

.prefsLabel {
  text-align: right;
  width: 20%;
}

.prefsData {
  text-align: left;
}

.navigation {
  height: 12px;
  width: 12px;
}

.nopic {
  text-align: center;
  color: #000000;
  background-color: #FFFF99;
  border: 1px solid #FFFF00;
}

.spamWarning {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #AA0000;
  border: 1px solid #CC0000;
}

/* colored quotes */
.quoteLevel1 {
  color: navy;
}
.quoteLevel2 {
  color: maroon;
}
.quoteLevel3 {
  color: green;
}
.quoteLevel4 {
  color: purple;
}
.quoteLevel5 {
  color: teal;
}

.debug {
    font-family: monospace;
    font-size: smaller;
}

.new-version {
	background-color: red;
}

.new-version-update-ok {
	color: lightgreen;
}

.new-version-update-missing {
	color: red;
}

